# Virtual Environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Core AlgoFrame App Outputs / Temporary Assets
output/
media/
temp_processing/
*.mp4
*.wav
*.mp3
*.log
scene_*.py

# Environment Keys and Secrets
.env

# Testing files folder
test/