# Virtual Environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Core AlgoFrame App Outputs / Temporary Assets
output/
*.mp4
*.wav
scene_*.py

# Environment Keys and Secrets
.env